:host {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    display: flex;
}

.card {
    position: absolute; 
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
}
