<div class="about-container">
  <div class="profile-card">
    <div class="profile-header"></div>
    <img src="assets/images/foto_perfil.png" alt="Tu nombre" class="profile-img">
    <h1>Santiago Esquivel</h1>
    <h2>División A341</h2>
    <h3>Legajo 112640</h3>
  </div>

  <div class="rules-card">
    <h2>Reglas del Solitario</h2>
    <div class="rules-content">
      <article class="reglas-aboutMe">
            <h3 class="title">Reglas</h3>
            <div class="line-left">
                <p>El juego que elegi es el solitario con las siguientes reglas:</p>
                <div>
                    <h3>Preparacion</h3>

                    <div>
                        <span>Se usa baraja francesa</span>
                    </div>
                    <div>
                        <span>Se crean 7 pilas con distribución progresiva</span>
                    </div>
                    <div>
                        <span>Cartas restantes forman el mazo de descarte</span>
                    </div>

                    <h4>Objetivo</h4>
                    <div>
                        <span>Formar 4 pilas ordenados de mayor a menor por palo</span>
                    </div>

                    <h4>Movimientos permitidos</h4>

                    <div>
                        <span>Solo se mueve la última carta visible de cada pila</span>
                    </div>
                    <div>
                        <span>Pila vacía solo puede recibir un Rey</span>
                    </div>
                    <div>
                        <span>Se pueden mover grupos de cartas ordenadas como unidad</span>
                    </div>
                

                </div>
            </div>
        </article>
    </div>
  </div>
</div>


                